<configuration>
  <dllmap os="windows" cpu="x86-64" dll="BulletSim" target="runtimes/win-x64/native/BulletSim-3.26-20231207-x86_64.dll" />
  <dllmap os="osx" cpu="arm64" dll="BulletSim" target="runtimes/osx-arm64/native/libBulletSim-3.26-20231203-universal.dylib" />
  <dllmap os="osx" cpu="x86-64" dll="BulletSim" target="runtimes/osx-x64/native/libBulletSim-3.26-20231203-universal.dylib" />
  <dllmap os="linux" cpu="x86-64" dll="BulletSim" target="runtimes/linux-x64/native/libBulletSim-3.26-20231207-x86_64.so" />
  <dllmap os="linux" cpu="arm64" dll="BulletSim" target="runtimes/linux-arm64/native/libBulletSim-3.26-20231207-universal.dylib" />  
</configuration>
