<configuration>
  <dllmap os="windows" cpu="x86-64" dll="ubode" target="runtimes/win-x64/native/ubode.dll" />
  <dllmap os="osx" cpu="x86-64" dll="ubode" target="runtimes/osx-x64/native/libubode.dylib" />
  <dllmap os="osx" cpu="arm64" dll="ubode" target="runtimes/arm64/native/libubode.dylib" />
  <dllmap os="linux" cpu="x86-64" dll="ubode" target="runtimes/linux-x64/native/libubode-x86_64.so" />
  <dllmap os="linux" cpu="arm64" dll="ubode" target="runtimes/linux-arm64/native/libubode-arm64.so" />
</configuration>
