<configuration>
  <dllmap os="windows" cpu="x86-64" dll="ubode" target="runtimes/win-x64/native/ubode.dll" />
  <dllmap os="osx" cpu="arm64" dll="ubode" target="runtimes/osx-arm64/native/libubode.dylib" />
  <dllmap os="osx" cpu="x86-64" dll="ubode" target="runtimes/osx-x64/native/libubode.dylib" />
  <dllmap os="!windows,osx" cpu="x86-64" dll="ubode" target="runtimes/linux-x64/native/libubode.so" />
  <dllmap os="!windows,osx" cpu="arm64" dll="ubode" target="runtimes/linux-arm64/native/libubode.so" />
</configuration>
