<configuration>
  <dllmap os="windows" cpu="x86-64" dll="BulletSim" target="runtimes/win-x64/native/BulletSim.dll" />
  <dllmap os="osx" cpu="x86-64" dll="BulletSim" target="runtimes/osx-x64/native/libBulletSim.dylib" />
  <dllmap os="osx" cpu="arm64" dll="BulletSim" target="runtimes/osx-arm64/native/libBulletSim.dylib" />
  <dllmap os="!windows,osx" cpu="x86-64" dll="BulletSim" target="runtimes/linux-x64/native/libBulletSim.so" />
  <dllmap os="!windows,osx" cpu="arm64" dll="BulletSim" target="runtimes/linux-arm64/native/libBulletSim.so" />
</configuration>
